@import url("../../node_modules/semantic-ui-css/semantic.css");
@import url("../../node_modules/react-datetime/css/react-datetime.css");
@import url("../../node_modules/leaflet/dist/leaflet.css");
@import url("../../node_modules/leaflet.markercluster/dist/MarkerCluster.css");
@import url("../../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css");
@import url("../../node_modules/leaflet-loading/src/Control.Loading.css");

.App {
    margin: 25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
